<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:int="http://www.springframework.org/schema/integration"
    xmlns:int-file="http://www.springframework.org/schema/integration/file"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/integration
    http://www.springframework.org/schema/integration/spring-integration.xsd
    http://www.springframework.org/schema/integration/file
    http://www.springframework.org/schema/integration/file/spring-integration-file.xsd"
>
    <int:channel id="filesIn"/>
    <int:channel id="filesOut"/>
    <int:channel id="bytesIn"/>
    <int:channel id="documentsIn"/>
    <int:channel id="documentsOut"/>

    <int-file:inbound-channel-adapter directory="file:${input.directory}" channel="filesIn">
        <int:poller fixed-rate="5000"/>
    </int-file:inbound-channel-adapter>


    <int:chain input-channel="filesIn" output-channel="bytesIn">
        <int:header-enricher>
            <int:header name="fileName" expression="payload.name"/>
        </int:header-enricher>
        <int-file:file-to-bytes-transformer delete-files="true"/>
    </int:chain>

    <int:transformer input-channel="bytesIn" output-channel="documentsIn" ref="bytes2DocumentTransformer"/>

    <int:service-activator input-channel="documentsIn" ref="document2PdfConverter" output-channel="documentsOut"/>

    <int:chain input-channel="documentsOut" output-channel="filesOut">
        <int:header-enricher>
            <int:header name="fileName" expression="payload.fileName" overwrite="true"/>
        </int:header-enricher>
        <int:transformer expression="payload.content"/>
    </int:chain>

    <int-file:outbound-channel-adapter directory="${output.directory}" channel="filesOut"
        filename-generator-expression="headers.fileName"/>
</beans>